certifi==2025.7.14
charset-normalizer==3.4.2
DateTime==5.5
Deprecated==1.2.18
feedparser==6.0.11
future==1.0.0
idna==3.10
numpy==2.3.1
openreview-py==1.51.1
pycryptodome==3.23.0
PyJWT==2.10.1
pylatexenc==2.10
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
sgmllib3k==1.0.0
tld==0.13.1
tqdm==4.67.1
urllib3==2.5.0
wrapt==1.17.2
zope.interface==7.2
